header {
	color: #fff;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
}

header a {
	color: #fff;
}

.spacer {
	overflow: hidden;
	width: 1px;
	height: 15px;
	background-color: #454545;
	display: inline-block;
	border: 0 none;
	position: relative;
	top: 3px;
	left: 0;
}

.nav {
	background: #eee;
	height: 100px;
	padding-top: 32px;
}

.header-right a {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
}

.mini-cart:hover,
.message:hover {
	background: #313131;
}

.nav_title {
	margin-left: 85px;
	font-size: 16px;
	font-weight: bold;
	color: #313131;
	margin-top: 8px;
}

.nav_title li {
	margin-right:20px;
	display: inline-block;
	cursor: pointer;
}

.nav_title li:hover {
	color: #FF0037;
}

.search_wrap {
	background: #fff;
}

.search_wrap input {
	width: 160px;
	height: 35px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	float: left;
	padding-left: 5px;
}

.search_btn {
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #d9d9d9;
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #fff;
}

.search_btn:hover {
	background: #eee;
}
/*footer*/

.newfooter {
	background: #1B1B1B;
	color: #fff;
	height: 200px;
	box-shadow: 0 -2px 3px 1px #1b1b1b;
}

.icon-classes {
	width: 204px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.newfooter hr {
	width: 1px;
	height: 136px;
	background-color: #3d3d3d;
	display: inline-block;
	border: 0 none;
	float: left;
	margin-top: 36px;
}

.icon-classes li {
	height: 40px;
}

.icon-classes i {
	margin-right: 15px;
}

.newfooter dl {
	float: left;
	padding-top: 45px;
	margin-left: 60px;
}

.newfooter dt {
	font-size: 16px;
	font-weight: bold;
}

.newfooter dd {
	font-size: 14px;
	margin-top: 11px;
}

.newfooter dd a {
	color: #fff;
}

.newfooter dd a:hover,
.bottom-dtl a:hover {
	color: #FF0037;
}

.linkus h1 {
	margin-top: 25px;
	font-size: 22px;
	color: #ff0030;
	margin-bottom: 5px;
}

.linkus p {
	font-size: 14px;
	text-align: center;
}

.linkus button {
	margin-top: 5px;
	width: 153px;
	height: 29px;
	border: 1px solid #fff;
	background: #1b1b1b;
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}

.linkus button:hover {
	background: #eee;
	color: #666;
}

.linkus i {
	margin-right: 10px;
	cursor: pointer;
}

.bottom {
	background: #000;
	font-size: 12px;
	color: #fff;
	height: 74px;
}

.bottom-con {
	padding-top: 15px;
}

.bottom-dtl {
	margin-left: 25px;
	float: left;
}

.bottom-dtl p {
	margin-bottom: 5px;
}

.bottom-dtl a {
	color: #fff;
	margin-right: 10px;
}

.toolbar {
	position: fixed;
	right: 0;
	top: 200px;
}

.toolbar li {
	width: 80px;
	height: 80px;
	border: 1px solid #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	cursor: pointer;
}
.detailtoolbar li {
	background: #999;
	color: #fff;
}
.toolbar li:hover {
	background: #313131;
	color: #fff;
}
.toolbar li:not(:last-child) {
	margin-top: -1px
}

.toolbar .mt15 {
	margin-top: 15px;
}

/*杂项*/
.changepage i {
	width: 28px;
	height: 28px;
	border: 1px solid #c9c9c9;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
	font-family: 宋体;
	font-weight: bold;
	color: #c9c9c9;
	line-height: 25px;
	cursor: pointer;
}

.changepage i:hover {
	border-color: #a0a0a0;
	color: #a0a0a0;
}
.pt50{
	padding-top: 50px;
}

.floor li {
	text-align: center;
	font-size: 13px;
	position: relative;
	width: 291px;
	height: 370px;
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	transition: border-color .1s ease;
	
}


.floor li >img {
	margin-top: 28px;
	margin-bottom: 20px;
}
.bgli-white li {
	background: #fff;
}

.bgli-white li:nth-child(n+2) {
	margin-left: 12px;
}